// Define variables for your color scheme
// Quatres couleurs de Néotravail 
$neogreen: #249396;
$neorange: #F79B73;
$neopink: #F7CFBC;
$neoyellow: #F9F7D0;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
