<hr>

<div class="footer-container">
    <p class="ml-4">© 2021 Copyright Néotravail</p>
    <p><a href="" style="color:black">Mentions Légales</a></p>
    <p class="color-link mr-4"><a href=""><i class="fab fa-linkedin fa-2x" style="color:black"></i></a></p>
</div>
