<footer class="fixed-bottom font-family">

<hr>

<div class="footer-container">
  <div class="copyright form-inline">
    <p>© 2021 Copyright Néotravail</p>
  </div>

  <div class="mentions-legales form-inline">
    <p><a href="">Mentions Légales</a></p>
  </div>

  <div class="social-media form-inline">
    <p class="color-link"><a href=""><i class="fab fa-linkedin fa-2x"></i></a></p>
  </div>
</div>
</footer>