<div class="presentation-container">
  <h1>Qui sommes-nous ?</h1>
  <div class="helene-presentation-container">
    <p>Curieuse de tout, optimiste et pro-convivialité, ce qui m’anime sincèrement sont les liens que l’on crée pour vivre ensemble. 
    Aujourd’hui, je suis à la fois salariée, solo entrepreneure et bénévole. Cette multi-activité me permet de m’épanouir, de m’engager et de m’ancrer. 
    Je passionne aussi pour les nouvelles façons de travailler, utiles pour un avenir commun désirable !</p>
    <p>Hélène</p>
  </div>
  <div class="laetitia-presentation-container">
    <p>Slasheuse assumée, j’exerce aujourd’hui différentes activités : conseil en communication et rédactrice dans l’ESS et dans la culture; 
    accompagnatrice de personnes en évolution de vie professionnelle; bénévole engagée. Mes champs d’exploration sont les métiers de demain, 
    la place des femmes dans le futur du travail, et la transition écologique et solidaire !</p>
    <p>Laëtitia</p>
  </div>
</div>