<div class="container">

  <h1 class="text-center">Qui sommes-nous?</h1>

  <div class="profils-container">
    <div class="profil-container">
      <img src="https://via.placeholder.com/150" alt="Hélène_avatar" class="avatar_profil">
      <p>Curieuse de tout, optimiste et pro-convivialité, ce qui m’anime sincèrement sont les liens que l’on crée pour vivre ensemble. Aujourd’hui, je suis à la fois salariée, solo entrepreneure et bénévole. Cette multi-activité me permet de m’épanouir, de m’engager et de m’ancrer. Je passionne aussi pour les nouvelles façons de travailler, utiles pour un avenir commun désirable !</p>
      <h5>Hélène</h5>
    </div>
    <div class="profil-container">
      <img src="https://via.placeholder.com/150" alt="Laetitia_avatar" class="avatar_profil">
      <p>Slasheuse assumée, j’exerce aujourd’hui différentes activités : conseil en communication et rédactrice dans l’ESS et dans la culture; accompagnatrice de personnes en évolution de vie professionnelle; bénévole engagée. Mes champs d’exploration sont les métiers de demain, la place des femmes dans le futur du travail, et la transition écologique et solidaire !</p>
      <h5>Laetïtia</h5>
    </div>
  </div>

  <hr class="mt-5">

  <div>
    <h1 class="text-center my-5">Les origines</h1>
    <p>Même Pas Peur, c’est d’abord un collectif informel né en 2017 qui se donne pour mission d’inspirer et d’outiller les personnes en quête de sens, à la recherche d’un équilibre vie pro / vie perso, et notamment l’adéquation entre ses valeurs et son activité professionnelle. De nombreux évènements et ateliers ont été organisés via Meetup, avec une communauté réunissant plus de 2 000 personnes !
    </p>
    <p>L’équipe du collectif s’est depuis agrandie et s’est structuré en  association fin 2019.  Plus on est de fous, plus on rit, et plus on est créatifs aussi ! Même Pas Peur propose un espace d’espace, mais est aussi un laboratoire d’expérimentation pour qui veut tester des initiatives et des projets : évènements en ligne, ateliers de créativité, d’écriture digitale, réflexion sur un nouveau média, etc.</p>
  </div>

  <div class="d-flex justify-content-between mt-5">
    <img src="https://via.placeholder.com/250" alt="photo-1">
    <img src="https://via.placeholder.com/250" alt="photo-2">
    <img src="https://via.placeholder.com/250" alt="photo-3">
    <img src="https://via.placeholder.com/250" alt="photo-4">
  </div>
</div>