<div class="container text-center">
  <p>Tu exerces un "nouveau métier", une nouvelle façon de collaborer tournée vers un <br> monde plus juste, plus durable et plus inclusif ?
  <br> Tu veux recommander une personne à interviewer ou un sujet à explorer ?</p>
  <p>Ecris-nous à <a href="mailto: contact@neotravail.fr">contact@neotravail.fr</a> ou remplis le formulaire ci-dessous :)</p>
</div>

  <div class="color mt-5">
    <div class="contact_form">
      <h1 class="mb-4 header_color">Contact</h1>
      <input name="name"  type="text" placeholder="Nom">
      <input name="email" type="text" placeholder="Email">
      <textarea name="message" placeholder="Message" rows="7"></textarea>
      <button type="submit">Envoyer</button>
    </div>
  </div>
</div>

<%= render 'shared/newsletter' %>
