<div class="text-contact-page-container">
  <p>Tu exerces un "nouveau métier", une nouvelle façon de collaborer tournée vers un monde plus juste, plus durable et plus inclusif ?
  Tu veux recommander une personne à interviewer ou un sujet à explorer ?</p>
  <br>
  <p>Ecris-nous à contact@neotravail.fr ou remplis le formulaire ci-dessous :)</p>
</div>
<div class="contact-form-container">

</div>