<h1>Mentions légales</h1>

<hr>

<p>Le site Néotravail est édité par l'Association Même Pas Peur</p>

<p>110 cours Gambetta 69007 Lyon</p>

<p>Hébergement du site</p>
<p>-adresse hébergeur-</p>

<p>Site développé par les 4 MousqueDév</p>
<p>Jérémy Beaussart<br>Quentin Bonnafet<br>Simon Boutin<br>Thomas Pozzobon</p>
