<h1>Vous avez été contacté depuis néotravail.fr</h1>

<p>Prénom: <%= @contact.first_name %></p>
<p>Nom: <%= @contact.last_name %></p>
<p>Mail: <%= @contact.email %></p>
<p>Message: <%= @contact.message %></p>